<div class="star-rating-container">
  <div class="flex-item-text-container">
    <ngx-stars [readonly]="true" [initialStars]="item.rating" color="#274C77"></ngx-stars>
  </div>
  <div class="flex-item-text-container">
    <ion-text color="primary">
      <span class="small-text flex-item-text" style="margin-right:3px">{{item.rating}}</span>
    </ion-text>
  </div>
  <div class=" flex-item-text-container" *ngIf="item.review_count">
    <ion-text color="medium">
      <span class="smallest-text flex-item-text" *ngIf="item.review_count">({{item.review_count}}+)</span>
      <span class="smallest-text flex-item-text" *ngIf="!item.review_count">No Reviews</span>
    </ion-text>
  </div>
</div>
