.main-image-container {
  min-height: 40%;
  max-height: 40%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}
