<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" (click)="onCloseClicked()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ restaurant?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" [name]="restaurant.liked ? 'heart':'heart-outline'" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true">
  <div #img class="header-image" [style.background-image]="'url(' + restaurant?.photoUrl + ')'">
  </div>

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{ restaurant?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="restaurant">
    <ion-row>
      <ion-col size="12" class="light-bg ion-padding-start">
        <app-star-ratings [item]="restaurant"></app-star-ratings>
      </ion-col>
      <ion-col size="12" class="light-bg ion-padding-start">
        <app-price-dstance [item]="restaurant"></app-price-dstance>
      </ion-col>
      <ion-col size="12" class="light-bg">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon color="medium" name="location-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>Restaurant info
              <p>Map, allergene ad hygiene rating</p>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon color="primary" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>
  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>
  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>
  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>
  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>
  <div *ngIf="restaurant" class="ion-padding">
    Please do not call {{ restaurant.name }} for any amends to your order, as these cannot be made once your order is
    received.
  </div>

  <!-- <div slot="fixed">
    <ion-slides *ngIf="restaurant" [options]="opts" [ngClass]="{'slides-visible': categorySlidesVisible, 'slides-hidden': !categorySlidesVisible}">
      <ion-slide *ngFor="let entry of data.food; let i = index;">

      </ion-slide>
    </ion-slides>
  </div> -->


  <!-- <ion-list *ngFor="let entry of data?.food">
    <ion-list-header>
      <ion-label>{{ entry.category}}</ion-label>
    </ion-list-header>
    <ion-row *ngFor="let meal of entry.meals" class="ion-padding meal-row">
      <ion-col size="8" class="border-bottom">
        <ion-label>
          {{ meal.name }}
          <p>{{ meal.info }}</p>
        </ion-label>
        <ion-text color="dark"><b>{{ meal.price | currency:'EUR' }}</b></ion-text>
      </ion-col>
      <ion-col size="4" class="border-bottom">
        <div class="meal-image" [style.background-image]="'url(' + meal.img + ')'"></div>
      </ion-col>
    </ion-row>
  </ion-list> -->

</ion-content>