<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" (click)="onCloseClicked()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ restaurant?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light" (click)="likeButtonClicked()">
        <ion-icon slot="icon-only" [name]="liked ? 'heart':'heart-outline'" color="danger">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true">
  <div #img class="header-image" [style.background-image]="'url(' + restaurant?.image_url + ')'">
  </div>

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{ restaurant?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="restaurant">
    <ion-row>
      <ion-col size="12" class="light-bg ion-padding-start">
        <app-star-ratings [item]="restaurant"></app-star-ratings>
      </ion-col>
      <ion-col size="12" class="light-bg ion-padding-horizontal">
        <div class="flex align-center space-between">
          <div>
            <app-price-dstance [item]="restaurant"></app-price-dstance>
          </div>
          <div>
            <ion-label>{{restaurant.distance | metersToMiles}}<span *ngIf="restaurant.distance === 1"> mile</span><span
                *ngIf="restaurant.distance !== 1"> miles</span></ion-label>
          </div>
        </div>


      </ion-col>

      <ion-col size="12" class="light-bg">
        <ion-row class="ion-align-items-center">
          <ion-chip *ngFor="let cat of restaurant.categories">
            <ion-label>{{cat.title}}</ion-label>
          </ion-chip>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="light-bg">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon color="medium" name="location-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>Address
              <p>
                <span>{{restaurant.location.address1}}</span>
                <span *ngIf="restaurant.location.address2">, {{restaurant.location.address2}}</span>
                <span *ngIf="restaurant.location.address3">, {{restaurant.location.address3}}</span><br>
                <span>{{restaurant.location.city}}</span>
                <span *ngIf="restaurant.location.state">, {{restaurant.location.state}}</span>
                <span *ngIf="restaurant.location.zip_code"> {{restaurant.location.zip_code}}</span>
                <span *ngIf="restaurant.location.country"> {{restaurant.location.country}}</span>
              </p>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon color="primary" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="light-bg">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon color="medium" name="call-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>Contact
              <p>{{restaurant.phone | phone}}</p>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon color="primary" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="light-bg">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon color="medium" name="globe-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>Website
              <p class="text-trim">{{restaurant.url}}</p>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon color="primary" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </div>
  <ion-list lines="none">
    <ion-list-header>Reviews</ion-list-header>
    <ion-item *ngFor="let rev of reviews; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="rev.user.image_url" />
      </ion-thumbnail>
      <ion-label>
        <div class="flex space-between">
          <div>
            <h2>{{rev.user.name}}</h2>
          </div>
          <div>
            <span class="small-text">
              <ion-text color="medium">{{rev.time_created | date}}</ion-text>
            </span>
          </div>
        </div>

        <app-star-ratings [item]="rev"></app-star-ratings>
        <p [ngClass]="{'text-trim' : rev.moreShowing === false,'text-show' : rev.moreShowing === true}">{{rev.text}}</p>
        <div class="ion-float-right">
          <p (click)="onShowMoreClicked(rev)">
            <span *ngIf="rev.moreShowing" class="link-text">
              <ion-text color="primary">show less</ion-text>
            </span>
            <span *ngIf="!rev.moreShowing" class="link-text">
              <ion-text color="primary">show more</ion-text>
            </span>
          </p>
        </div>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
