<div class="match-button-container">
  <div class="match-button" [style.color]="dislikeColor">
    <!-- <span><i class="fa fa-times"></i></span> -->
    <span>
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </span>
  </div>
  <div class="match-button" [style.color]="favoriteColor">
    <!-- <span><i class="fa fa-heart"></i></span> -->
    <span>
      <ion-icon name="heart-outline"></ion-icon>
    </span>
  </div>
  <div class="match-button" [style.color]="likeColor">
    <!-- <span><i class="fa fa-check"></i></span> -->
    <span>
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </span>
  </div>
</div>
