<div class="match-button-container">
  <div class="match-button" [style.color]="dislikeColor" (click)="noMatchButtonClicked()">
    <!-- <span><i class="fa fa-times"></i></span> -->
    <span>
      <ion-icon [name]="dislikeIcon"></ion-icon>
    </span>
  </div>
  <div class="match-button" [style.color]="favoriteColor" (click)="likeButtonClicked()">
    <!-- <span><i class="fa fa-heart"></i></span> -->
    <span>
      <ion-icon [name]="liked ? 'heart' : 'heart-outline'"></ion-icon>
    </span>
  </div>
  <div class="match-button" [style.color]="likeColor" (click)="matchButtonClicked()">
    <!-- <span><i class="fa fa-check"></i></span> -->
    <span>
      <ion-icon [name]="likeIcon"></ion-icon>
    </span>
  </div>
</div>
