.page-container {
  height: 100%;
  position: relative;
  background-color: purple;
  padding: 10px;
}

.restaurant-card-container {
  height: 90%;
  width: 100%;
  background-color: red;
  margin: 0;
}

.match-buttons-container {
  width: 100%;
  margin: 0;
  background-color: green;
}
