<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <div class="page-container">
    <div class="restaurant-card-container">
      <app-restaurant-list [restaurants]="restaurants"></app-restaurant-list>
    </div>
    <div class="match-buttons-container">
      <app-match-buttons></app-match-buttons>
    </div>
  </div>

</ion-content>
