<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-title" size="large">Food with Friends</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="app-title">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addGroup()">
        <ion-icon name="add-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content fullscreen>
  <ion-list>
    <ion-list-header class="ion-padding-end">
      <div class="flex space-between" style="width: 100%;">
        <div>New Near Me</div>
        <div (click)="openNearModal()">
          <ion-text color="primary"><span class="link-text">See All</span></ion-text>
        </div>
      </div>
    </ion-list-header>
    <app-sliding-card-full [incomingData]="newRestaurants$ | async"></app-sliding-card-full>
  </ion-list>

  <!-- Start of list header -->
  <ion-list>
    <ion-list-header class="ion-padding-end">
      <div class="flex space-between" style="width: 100%;">
        <div>Your Groups</div>
        <div (click)="addGroup()">
          <ion-icon size="large" class="action-icons" color="primary" slot="end" name="add-circle-outline">
          </ion-icon>
        </div>
      </div>
    </ion-list-header>
    <app-sliding-list-groups [listItems]="groups" [currentUser]="currentUser"></app-sliding-list-groups>
  </ion-list>

  <!-- End of list header -->
  <ion-list>
    <ion-list-header class="ion-padding-end">
      <div class="flex space-between" style="width: 100%;">
        <div>Your Likes</div>
        <div (click)="openLikesModal()">
          <ion-text color="primary"><span class="link-text">See All</span></ion-text>
        </div>
      </div>
    </ion-list-header>
    <app-sliding-card-large [incomingData]="currentUserLikes" dataType="likes"></app-sliding-card-large>
  </ion-list>
</ion-content>
