<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      My Groups
    </ion-title>
    <ion-buttons slot="end" *ngIf="isPro || userGroupsCount < 2">
      <ion-button (click)="addGroup()">
        <ion-icon name="add-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-badge slot="end" color="warning" *ngIf="!isPro && userGroupsCount === 2"><span class="link-text">Upgrade</span>
    </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-sliding-list-groups [listItems]="usersGroups" [currentUser]="currentUser"></app-sliding-list-groups>

</ion-content>
