$size: 300px;

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restraurant-card-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: yellow;

}

.restaurant-card {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;


}

.retaurant-match-buttons-container {
  height: 30vh;
  background-color: pink;
}

ion-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-image-container {


  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    // min-width: 100%;
    // max-width: none;
    // margin: 0 -100%;
    // max-width: 100%;
    // max-height: $size;
    // top: 50%;
    // left: 50%;
  }
}
