<div class="restraurant-card-container">
  <ng-container *ngIf="showLoading$ | async">
    <div class="absolute-center">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>

  <ion-card *ngFor="let rest of restaurants | reverse" class="restaurant-card" (click)="onAdditionalDetailsClicked()">
    <div class="main-image-container" [style.background-image]="'url(' + rest.photoUrl + ')'"></div>
    <ion-card-header [translucent]="true">
      <ion-card-title>{{ rest.name }} </ion-card-title>
      <app-star-ratings [item]="rest"></app-star-ratings>
      <ion-card-subtitle>{{ rest.price_level }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
<div class="match-buttons-container">
  <app-match-buttons (onMatchClicked)="onMatchClicked()" (onNoMatchClicked)="onNoMatchClicked()"></app-match-buttons>
</div>
