<ion-item-sliding *ngFor="let list of listItems">
  <ion-item [routerLink]="['../tab2/group', list._id]" lines="none">
    <ion-avatar slot="start">
      <div>
        <ion-icon name="people" size="large"></ion-icon>

      </div>

    </ion-avatar>

    <ion-label>
      <h2>{{list.name}}</h2>
      <h3>{{list.members.length}} members</h3>
    </ion-label>
    <ion-badge slot="end" color="secondary">{{list.matchCount}}</ion-badge>

  </ion-item>

  <ion-item-options>

    <ion-item-option *ngIf="currentUser?._id === list?.owner?._id" color="danger" icon-only (click)="removeGroup(list)">
      <ion-icon slot="end" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option *ngIf="currentUser?._id !== list?.owner?._id" color="warning" icon-only (click)="leaveGroup(list)">
      <ion-icon slot="end" name="exit-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>


<ng-container *ngIf="listItems?.length == 0">
  <ion-card>


    <ion-card-content>
      <div class="flex align-center ion-justify-content-center">
        <div style="display: inline-block;">
          <p>Add groups to get started</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
