<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button>
        <span (click)="onCloseClicked()">
          <ion-icon slot="icon-only" ios="close" md="close"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item-sliding *ngFor="let card of listData">
          <ion-item lines="none" (click)="onAdditionalDetailsClicked(card)">
            <ion-avatar slot="start">
              <img [src]="card?.image_url">
            </ion-avatar>

            <ion-label>
              <h2>{{card?.name}}</h2>
              <app-star-ratings [item]="card"></app-star-ratings>
              <app-price-dstance [item]="card"></app-price-dstance>
            </ion-label>
          </ion-item>
          <ng-container *ngIf="dataType === 'likes'">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeLike(card)">
                <ion-icon slot="end" name="trash"></ion-icon>Remove
              </ion-item-option>
            </ion-item-options>
          </ng-container>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
