<ion-slides [options]="slideOpts" [pager]="true">
  <ion-slide *ngFor="let card of cardData">
    <ion-card style="width: 100%;" class="ion-text-start sliding-card-full-container" button="true"
      (click)="onAdditionalDetailsClicked(card)">
      <div #img class="header-image" [style.background-image]="'url(' + card?.photoUrl + ')'">
      </div>
      <div class="badge-container">
        <ion-badge color="success">highly rated</ion-badge>
        <ion-badge color="secondary">nearby</ion-badge>
      </div>

      <ion-card-header>
        <ion-card-title class="ion-text-nowrap">{{card.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-star-ratings [item]="card"></app-star-ratings>
        <app-price-dstance [item]="card"></app-price-dstance>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<ng-container *ngIf="!cardData">
  <ion-card class="ion-text-start">
    <div #img class="header-image loading">
    </div>
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-container>
