.swiper-slide {
  width: auto;
}

.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  will-change: transform;

  &.loading {
    background: var(--ion-color-medium);
  }
}

.sliding-card-full-container {
  position: relative;
}

.content-padding {
  padding: 0 20px 16px 20px;
}
