//Text utilities
.card-title {
  font-size: 17px;
}

.small-text {
  font-size: .8rem;
}

.smallest-text {
  font-size: .6rem;
}

.large-text {
  font-size: 1.2rem;
}

.largest-text {
  font-size: 1.4rem;
}

//Flex utilities
.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.column {
    flex-direction: column;

  }

  &.column-space-between {
    align-content: space-between;

  }
}

.badge-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
}

ion-title {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // text-align: center;

  // &.app-title {
  //   font-family: 'Gochi Hand', cursive;
  //   font-size: 30px;
  //   padding: 0;
  //   margin: 0;
  //   margin-top: 5px;
  // }
}



.section-header {
  margin: 10px;
  font-size: 1.2rem;
  // font-weight: 800;
}

.link-text {
  font-size: .8rem;

  &:hover {
    cursor: pointer;
  }
}

.action-icons {

  &:hover {
    cursor: pointer;
  }
}

.range-has-pin {
  position: relative;
  padding: 0px;

  .range-pin {
    position: absolute;
  }
}
