<ion-item-sliding *ngFor="let card of cardData">
  <ion-item lines="none" (click)="onAdditionalDetailsClicked(card)">
    <ion-avatar slot="start">
      <img [src]="card.photoUrl">
    </ion-avatar>

    <ion-label>
      <h2>{{card.name}}</h2>
      <app-star-ratings [item]="card"></app-star-ratings>
      <app-price-dstance [item]="card"></app-price-dstance>
    </ion-label>
  </ion-item>
  <ng-container *ngIf="dataType === 'likes'">
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeLike(card)">
        <ion-icon slot="end" name="trash"></ion-icon>Remove
      </ion-item-option>
    </ion-item-options>
  </ng-container>
</ion-item-sliding>
