<ion-item-sliding *ngFor="let member of memberData">
  <ion-item lines="none">

    <ion-avatar slot="start">
      <ngx-avatar [name]="member.name" size="40" [round]="true">
      </ngx-avatar>
    </ion-avatar>

    <ion-label>
      <h2>{{member.name}}</h2>
      <h3 *ngIf="member._id === groupOwner._id">Owner</h3>
    </ion-label>
  </ion-item>
  <ng-container *ngIf="member._id !== currentUser._id && isLoggedUserGroupOwner">
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeMember(member)">
        <ion-icon slot="end" name="trash"></ion-icon>Remove
      </ion-item-option>
    </ion-item-options>
  </ng-container>
</ion-item-sliding>
