<ng-container *ngIf="cardData.length > 0">
  <ion-slides [options]="slideOpts" [pager]="true" class="ion-padding-horizontal">
    <ion-slide *ngFor="let card of cardData">
      <ion-card style="width: 100%;" class="ion-text-start sliding-card" (click)="onAdditionalDetailsClicked(card)"
        button="true">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <div #img class="card-left-image" [style.background-image]="'url(' + card?.image_url + ')'"></div>
              </div>
            </ion-col>
            <ion-col size="8">
              <ion-text color="medium">{{card?.name}}</ion-text>
              <app-star-ratings [item]="card"></app-star-ratings>
              <app-price-dstance [item]="card"></app-price-dstance>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ng-container>

<ng-container *ngIf="cardData?.length == 0 && dataLoading">
  <ion-card class="ion-text-start">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-container>
<ng-container *ngIf="cardData?.length == 0 && !dataLoading">
  <ion-card>


    <ion-card-content>
      <p>Add {{dataType}} to get started</p>
    </ion-card-content>
  </ion-card>
</ng-container>
