.card-left-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80px;
  will-change: transform;
  border-radius: 4px;
}

.sliding-card {
  margin-inline: 0;
}
