<ion-item-sliding *ngFor="let list of listItems">
  <ion-item [routerLink]="['/folder/Groups', list._id]">
    <ion-avatar slot="start">
      <span class="fa fa-users"></span>
    </ion-avatar>

    <ion-label>
      <h2>{{list.name}}</h2>
      <h3>{{list | json}}</h3>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option *ngFor="let actions of list.actions">{{actions}}</ion-item-option>
  </ion-item-options>
  <code>{{list._id | json}}</code>
</ion-item-sliding>
