<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="members/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{group?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header class="ion-padding-end">
      <div class="flex space-between" style="width: 100%;">
        <div>Members</div>
        <div (click)="openAddGroupMemberModal()">
          <ion-icon size="default" class="action-icons" color="primary" slot="end" name="person-add-outline">
          </ion-icon>
        </div>
      </div>
    </ion-list-header>
    <app-member-list [memberData]="group?.members" [groupOwner]="group?.owner" (ngModelChange)="groupMembers">
    </app-member-list>
  </ion-list>

  <!--Filters-->

  <ng-container *ngIf="isUserGroupOwner">
    <div>
      <ion-list>
        <ion-list-header class="ion-padding-end">
          <div class="flex space-between" style="width: 100%;">
            <div>Filters</div>
            <ion-icon color="primary" [name]="showFilters ? 'chevron-up-outline' : 'chevron-down-outline'"
              (click)="toggleFiltersExpand()"></ion-icon>
          </div>
        </ion-list-header>
      </ion-list>
      <ion-card class="group-details-card-content" [ngClass]="showFilters?'show':''">
        <ion-card-content>
          <div class="filter-header">Price</div>
          <app-chip-select-array [availableChips]="availablePrices" [selectedChips]="selectedPrices"
            (chipSelectionChanged)="chipPricesSelectionChanged($event)">
          </app-chip-select-array>


          <div class="filter-header">Type</div>
          <app-chip-select-array [availableChips]="availableTypes" [selectedChips]="selectedTypes"
            (chipSelectionChanged)="chipTypesSelectionChanged($event)">
          </app-chip-select-array>

          <div class="filter-header">Kids</div>
          <ion-toggle color="primary" [(ngModel)]="selectedKids"></ion-toggle>


          <div class="filter-header">Distance</div>
          <ion-range [(ngModel)]="selectedDistance" min="0" max="25" pin="true" #distanceSlider>
            <ion-icon slot="start" size="small" name="remove-outline"></ion-icon>
            <ion-icon slot="end" name="add-outline"></ion-icon>
          </ion-range>
          <div class="filter-header">Match Threshold <ion-icon name="information-circle-outline"
              (click)="matchThresholdPopover($event)"></ion-icon>
          </div>
          <p> </p>
          <ion-range [(ngModel)]="matchThreshold" min="0" max="100" pin="true" #thresholdSlider>
            <ion-icon slot="start" size="small" name="remove-outline"></ion-icon>
            <ion-icon slot="end" name="add-outline"></ion-icon>
          </ion-range>

        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>


  <ion-list>
    <ion-list-header class="ion-padding-end">
      <div class="flex space-between" style="width: 100%;">
        <div>Matches</div>
        <div>
          <ion-text color="primary"><span class="link-text" (click)="onSeeAllMatchesClicked()">See All</span></ion-text>
        </div>
      </div>

    </ion-list-header>
    <!-- <app-match-list [cardData]="group?.matches" [groupOwner]="group?.owner" (ngModelChange)="groupMembers">
    </app-match-list> -->
    <app-sliding-card-large [incomingData]="group?.matches" dataType='matches'></app-sliding-card-large>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <section>
      <ion-button expand="block" (click)="onMatchingClicked()" color="success">
        Let's Match!
      </ion-button>
    </section>
  </ion-toolbar>
</ion-footer>
